

h1 {color:white;}

main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


main ul li {
  display: inline-block; 
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.25rem;
  padding: 16px;
  }

  .error-h1 {color:#E7CC3C;}


  main ul li:nth-child(1) {
    padding-left: 0px;
  }

  .tns-nav {
    text-align: center;
    margin: 10px 0;
}

.tns-outer {
    margin: 1rem 0rem;
}

.tns-nav > [aria-controls] {
    width: 9px;
    height: 9px;
    padding: 0;
    margin: 0 5px;
    border-radius: 50%;
    background: #ddd;
    border: 0;
}

.tns-nav > .tns-nav-active { background: #999; }

.tns-item p {text-align: center;}
.tns-item h6 {text-align: center;}
.tns-outer button {display: none;}


.inner .fab {
    margin: 0px 10px;
}

.inner .fas {
    margin: 0px 10px;
}

/* Strive */
.strive-sub {color:white; font-size: 22px;opacity: 1;}

.card {background-color:rgb(255,255,255,0.025);}

.btn:focus {
    outline: none;
    box-shadow: none;
  }

.btn {text-align: left;}

/* Footer */
.grandfoot {
  color: rgba(255, 255, 255, .5);
}


.lightning {color:#E7CC3C;}


.btn-primary {
  color: #000;
  border-color: #E7CC3C;
  background-color: #E7CC3C;
  text-shadow: none;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  padding: 5px 15px;
}

  .btn-primary:hover {
    background-color: #EE3E40;
  }

  .card-body a:hover {color: white;}


