

h1 {color:white;}

main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


main ul li {
  display: inline-block; 
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  font-size: 1.25rem;
  padding: 16px;
  }

  .error-h1 {color:#E7CC3C;}


  main ul li:nth-child(1) {
    padding-left: 0px;
  }

  .tns-nav {
    text-align: center;
    margin: 10px 0;
}

.tns-outer {
    margin: 1rem 0rem;
}

.tns-nav > [aria-controls] {
    width: 9px;
    height: 9px;
    padding: 0;
    margin: 0 5px;
    border-radius: 50%;
    background: #ddd;
    border: 0;
}

.tns-nav > .tns-nav-active { background: #999; }

.tns-item p {text-align: center;}
.tns-item h6 {text-align: center;}
.tns-outer button {display: none;}


.inner .fab {
    margin: 0px 10px;
}

.inner .fas {
    margin: 0px 10px;
}

/* Cover */
.cover {
  padding: 0 1.5rem;
  width: 40em;
}

.cover-error {
    width: 60em;
  }

.cover-privacy, .cover-strive {
    padding: 0 1.5rem;
    width: 70%;
}

.cover-strive h3 {margin-top: 1.0rem;}


/* Strive */
.strive-sub {color:white; font-size: 22px;opacity: 1;}

.card {background-color:rgb(255,255,255,0.025);}

.btn:focus {
    outline: none;
    box-shadow: none;
  }

.btn {text-align: left;}

.accordion { background-color: rgb(16,17,18);}

/* Footer */
.grandfoot {
  color: rgba(255, 255, 255, .5);
}

.inner a:hover {
    color: #EE3E40;
}

.lightning {color:#E7CC3C;}


.btn-primary {
  color: #000;
  border-color: #E7CC3C;
  background-color: #E7CC3C;
  text-shadow: none;
  border: none;
  border-radius: 0;
  font-weight: 600;
  padding: 10px 15px;
}

  .btn-primary:hover {
    background-color: #EE3E40;
  }

  .card-body a:hover {color: white;}


/* Responsive Styles */

@media only screen and (max-width: 768px) {
   h1 {font-size: 2.0rem; line-height: 1.5;}

   .cover, .cover-error {padding: 0 .5rem; width: 100%;}

   .cover-strive, .cover-privacy, .cover-press {padding: 0 .5rem; width: 100%; margin: 200px 0px 50px !important;}

   main img {width: 150px; height: 50px;}

   .wrapper img {width: 150px; height: 75px;}

   html, body {
        background: url('transparent-ipad.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        background-color: #0B0B0D;
   }

   main ul {padding: 20px;}
}

@media (max-width: 500px) {

    .px-5 {padding-left: 1rem!important; padding-right: 1rem!important;}

    input[type="email" i] { width: 210px; border-radius: 0px;}

    [type=submit] { padding: 10px 15px; }

    html, body {
        background: url('transparent-phone.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        background-color: #0B0B0D;
    }
    main ul li:nth-child(5) {
        padding-left: 0px;
      }
 }
